* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --azul-vivo: #1e90ff;
  --laranja-vivo: #ff6a34;
  --laranja-claro: #F27C35;
  --vermelho-vivo: #ff3b30;
  --branco: #f3f3f3;
  --cinza: #ebebeb;
  --cinza-escuro: #4f4f4f;
  --preto: #000;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--cinza);
  width: 100%;
  height: 87vh;
  background-image: url("../assets/imagens/foto4.webp");
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  position: relative;          
  z-index: 1;
}

main::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.35); 
  z-index: -1;
}

.cadastro-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 25vw;
  height: fit-content;
  background-color: var(--branco);
  color: var(--preto);
  padding: 40px 20px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: -10px 10px 47px 9px rgba(108, 108, 108, 0.75);
  -webkit-box-shadow: -10px 10px 47px 9px rgba(108, 108, 108, 0.75);
  -moz-box-shadow: -10px 10px 47px 9px rgba(108, 108, 108, 0.75);
  text-align: center;
}

.campo {
  display: flex;
  flex-direction: column;
  text-align: left!important;
}

input,
button {
  width: 100%;
  height: 6vh;
  background-color: var(--branco);
  border: 2px solid var(--cinza-escuro);
  color: var(--branco);
  border-radius: 10px;
  padding-left: 10px;
  transition: 0.3s;
}
input
{
  color: var(--preto)!important;
  height: 5vh!important;
}

input:focus,
button:focus {
  outline: 0;
  border: 2px solid var(--laranja-vivo);
  transform: scale(1.03);
}

.campo button {
  background-image: linear-gradient( var(--laranja-claro),var(--laranja-vivo));
  border: none;
  margin-top: 10px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}

.campo button:hover {
  transform: scale(1.03);
}

#div_aviso
{
  color: red;
  text-align: center;
}
/* Responsividade */
@media (max-width: 600px) {
  .cadastro-container{
    width: 85%;
  }
}