:root {
  --laranja: #f6b76a;
  --laranja-claro: #fce5c0;
  --azul: #78a8d1;
  --azul-claro: #d88ef6;
  --verde: #91c7a9;
  --verde-claro: #dcefe3;

  --branco: #f9fafb;
  --cinza: #e5e7eb;
  --cinza-escuro: #1f2937;

  /* Botões */
  --sucesso-verde: #22c55e;
  --erro-vermelho: #ef4444;
  --atencao-amarelo: #facc15;
  --info-azul: #3b82f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
    background-color: white;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  h1{
    font-size: 2.5rem;
  }
}

.container-cima{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

 .container-cima, button{
    background-color: white;
    padding: 5px 10px;
    border: 1px solid var(--cinza-escuro);
    border-radius: 7px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.237);
    gap: 5px;
    cursor: pointer;
    font-size: 1.3rem;
    transition: 0.3s;
  }

  button:hover{
    transform: scale(1.02);
  }

#filtros-container{
  position: relative;
  display: flex;
  width: 100%;
  height: 26px;
  gap: 30px;
  
  label{
    font-size: 20px;
    font-weight: bold;
    height: 20px;
    text-align: center;
    padding: 20px;
  }
}


#kpis-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.kpi{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  text-align: center;
  font-size: 0.8rem;
  margin-top: 15px;
  width: 23%;
  height: 22vh;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.237);
}

.kpi h1{
  font-size: 1.2rem;
}

.kpi h2{
  font-size: 1.2rem;
}

.textos{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 78%;
  margin-top: 10px;
}

.textos h1{
   font-size: 15px;
   text-align: center;
}

#graficos-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 55vh;
  gap: 5px;
}

.grafico-wrapper {
  width: 48%;
  height: 100%;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.237);
  padding: 10px;
}

.grafico-wrapper canvas {
  width: 100% !important;
  height: 100% !important;
}

canvas#grafico1, canvas#grafico2{
  text-align: center;
  width: 100% !important;
  height: 100% !important;
  background-color: white;
  font-size: 0.8rem;
  border-radius: 10px;
}

