 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

   :root {
    --azul-vivo: #1e90ff;
    --laranja-vivo: #ff6a34;
    --vermelho-vivo: #ff3b30;
    --laranja-claro: #F27C35;
    --branco: #f3f3f3;
    --cinza: #ebebeb;
    --cinza-escuro: #4f4f4f;
}

    
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    padding: 0;
    margin: 0;
    overflow: hidden;
}

main{
    height: 100%;
    width: 100%;
    padding: 0;
     display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

img{
    width: 80px;
    height: 80px;
    filter: invert(100%);
}

.conteudo-principal{
    width: 90%;
   
}

.introdução{
background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 15px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.barra-lateral {
  width: 7.5%;
  height: 100vh;
  gap: 50px;
  padding: 50px 0;
  background: #ffb74d;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.barra-lateral ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.barra-lateral ul li {
  font-size: 30px;
  color: #fff;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
}


.barra-lateral ul li:hover {
    transform: scale(1.2);
    opacity: 1;
}

h2{
    font-size: 1.2rem;
    font-weight: 600;
}

h3{
    font-size: 1.5rem;
    text-align: center;
    font-weight: 500;
}

    
select{
    background-color: white;
    padding: 5px;
    border: none;
    font-size: 1.0rem;
    gap: 20px;
    }

label{
    font-size: 1.0rem;
    gap: 20px;
}

    .filter-container{
        width: fit-content;
        padding: 10px;
        font-size: 25px;
        border-radius: 10px;
        height: 20px;
        font-size: 1.0rem;
        margin-bottom: 1%;
        font-weight: 500;
    }


    .kpi-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
        margin: 30px 5px 0px 5px;
        width: 100%;
        height: 110px;
    }

    .graph-container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        width: 100%;
        height: 80%;
        transition: all 0.3s ease;
    }

    .graph1:hover, .graph2:hover,  .graph3:hover{
        transform: scale(1.03);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

       .kpi:hover{
        transform: scale(1.05);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .kpi{
        text-align: center;
        height: 90%;
        width: 29%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: white;
        padding: 5px;
        gap: 5px;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    .graph1{
        width: 70%;  
        height: 30vh;
        background-color: white;
        transition: all 0.3s ease;
        background: white;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    .graph3{
        width: 29.2%;    
        height: 30vh;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

    .graph2{
        width: 100%;    
        height: 30vh;
        background-color: white;
        padding: 20px;
        border-radius: 15px;
        text-align: center;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
        transition: all 0.3s ease;
    }

