@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --azul-vivo: #1e90ff;
  --laranja-vivo: #ff6a34;
  --vermelho-vivo: #ff3b30;
  --branco: #f3f3f3;
  --cinza: #ebebeb;
  --cinza-escuro: #4f4f4f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

header {
  width: 100%;
  height: 13vh;
  background-image: linear-gradient(var(--laranja-vivo), var(--vermelho-vivo));
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 80px;
}

header img{
   filter:invert(100%);
}

header nav ul {
  display: flex;
  list-style-type: none;
  gap: 15px;
}

header nav ul li a {
  text-decoration: none;
  background-color: var(--laranja-vivo);
  color: var(--branco);
  padding: 10px;
  border: 2px solid var(--laranja-vivo);
  border-radius: 5px;
  font-size: 1.2rem;
  transition: .3s;
}

header nav ul li a:hover{
  transform: scale(1.05);
  background-color: transparent;
  color: var(--branco);
  border: 2px solid var(--branco);
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: fit-content;
  background-image: linear-gradient(var(--laranja-vivo), var(--vermelho-vivo));
  padding: 40px 20px;
}

footer img{
  width: 150px;
  filter:invert(100%);
}

footer nav ul{
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 15px;
  margin-top: 10px;
}

footer h2{
  color: var(--branco);
}

footer nav ul li a{
  text-decoration: none;
  color: var(--branco);
  transition: .3s;
}

footer nav ul li a:hover{
  color: var(--laranja-vivo);
}

/* Responsividade */
@media (max-width: 600px) {
  .cadastro-container{
    width: 85%;
  }
}

/* Responsividade */
@media (max-width: 600px) {
  footer{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
  }
}