:root {
    --azul-vivo: #1e90ff;
    --laranja-vivo: #ff6a34;
    --vermelho-vivo: #ff3b30;
    --laranja-claro: #F27C35;
    --branco: #f3f3f3;
    --cinza: #ebebeb;
    --cinza-escuro: #4f4f4f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

  
a{
    text-decoration: none;
    color: #fff;
}

body{
    display: flex;
    flex-direction: row;
        background-color: var(--branco);
}

main{
    width: 85vw;
    background-color: var(--branco);
    padding: 20px;
}
    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 40px;
        height: 100%;
    }



.barra-lateral {
  width: 7.5%;
  background: #ffb74d;
  padding: 50px 0;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  transition: all 0.3s ease;
}

.barra-lateral ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0;
  margin: 0;
}

.barra-lateral ul li {
  font-size: 30px;
  color: #fff;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
}

.barra-lateral ul li:hover {
  transform: scale(1.2);
  opacity: 1;
}

  