:root {
  --laranja: #ffb347;
  --laranja-claro: #ffe0b3;
  --azul: #5fa4e6;
  --azul-claro: #80c1ff;
  --verde: #6fcf97;
  --verde-claro: #c9f4df;

  --branco: #e5e7eb;
  --cinza: #cccccc;
  --cinza-escuro: #1f2937;

  /* Botões e alerts */
  --sucesso-verde: #22c55e;
  --erro-vermelho: #ef4444;
  --atencao-amarelo: #facc15;
  --info-azul: #3b82f6;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

main {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0;

  h1 {
    font-size: 2.5rem;
  }
}

.top-container button {
  width: 9vw;
  height: 30px;
  border: none;
  background-color: var(--info-azul);
  color: var(--branco);
  border-radius: 5px;
}

.metas-container {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 15px;
}

.metas-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 40vh;
}

h2 {
  font-size: 1.5rem;
}

.meta-conteudo h1 {
  /* text-decoration: line-through; */
  font-size: 1.2rem;
}

.meta {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--branco);
  box-shadow: 1px 3px 10px rgba(128, 128, 128, 0.301);
  border-radius: 10px;
  padding: 10px 10px 10px 30px;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.checkbox-container input {
  opacity: 0;
  position: absolute;
}

.checkbox-container .checkmark {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid #000;
  transition: 0.3s;
}

.checkbox-container input:checked + .checkmark {
  background-color: var(--sucesso-verde);
}

.checkbox-container .checkmark::after {
  /* content: "✔"; */
  position: absolute;
  display: none;
  top: 2px;
  left: 7px;
  font-size: 28px;
  color: var(--branco);
  font-weight: bold;
}

.checkbox-container input:checked + .checkmark::after {
  display: block;
}

.meta-conteudo {
  width: 65%;
}
h1 {
  font-size: 2rem;
}
p {
  font-size: 1rem;
}

#editar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 38px;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--info-azul);
  color: var(--branco);
  border: none;
  border-radius: 5px;
}

#excluir {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 8vw;
  height: 38px;
  padding: 10px;
  font-size: 0.9rem;
  cursor: pointer;
  background-color: var(--erro-vermelho);
  color: var(--branco);
  border: none;
  border-radius: 5px;
}

::-webkit-scrollbar {
  width: 10px;
  height: 7px;
  background-color: var(--branco);
}

::-webkit-scrollbar-thumb {
  background-color: var(--atencao-amarelo);
  border-radius: 5px;
  border: 0px solid #f0f0f0;
}
