:root {
  --laranja: #ffb347;
  --laranja-claro: #ffe0b3;
  --azul: #5fa4e6;
  --azul-claro: #80c1ff;
  --verde: #6fcf97;
  --verde-claro: #c9f4df;

  --branco: #e5e7eb;
  --cinza: #cccccc;
  --cinza-escuro: #1f2937;

  /* Botões e alerts */
  --sucesso-verde: #22c55e;
  --erro-vermelho: #ef4444;
  --atencao-amarelo: #facc15;
  --info-azul: #3b82f6;
}

.modal {
    position: relative;
    overflow-y: auto;
    background: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    z-index: 2;
    width: 80%;
    height: 80%;
  }
  .modal-container.show{
    opacity: 1;
    pointer-events: auto;
    display: flex;
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
  }
.modal {
    position: fixed;
    overflow-y: auto;
    background: var(--branco);
    padding: 2rem;
    border-radius: 10px;
    z-index: 2;
     width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
  }
.modal .box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal .box span{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
   font-weight: bolder;
   color:var(--erro-vermelho);
}
.modal .box .btn{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabela-professores td {
  max-width: 180px;     
  overflow: hidden;     
  white-space: nowrap;
  text-overflow: ellipsis; 
  vertical-align: middle;
}

#conteudo {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#conteudo.mostrar {
    display: block;
    opacity: 1;
}
.semProfessores {
  text-align: center;
  font-size: 1.2em;
  color: var(--cinza-escuro);
}

input{
    width: 100%;
    padding: 8px;
    border: 1px solid var(--cinza);
    border-radius: 6px;
}

textarea{
    width: 600px;
    height: 220px;
    padding: 8px;
    border: 1px solid var(--cinza);
    border-radius: 6px;
    resize: none;
    margin-bottom: 10px;
}

.boxButton button, .form-group button{
  color: var(--branco);
  border: none;
  background-color: var(--laranja);
  color: var(--cinza-escuro);
  font-size: 1rem;
  font-weight: bold;
  padding: 15px;
  margin: 8px;
  border: 2px solid var(--laranja);
  border-radius: 10px;
  cursor: pointer;
}

button:hover{
  transform: scale(1.02);
}

input:focus{
  outline-color: var(--laranja);
}

textarea:focus{
  outline-color: var(--laranja);
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

label{
   font-size: 1.0rem;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-row
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tittle-meta
{
    width: 65%;
}

.date-meta
{
    width: 30%;
}

input[type="datetime-local"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid var(--cinza);
    border-radius: 6px;
}


#modalConfirmacao.show {
  display: flex;
}

/* Modal secundário */
.modal-erro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--branco);
  border-radius: 8px;
  padding: 20px;
  width: 70%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  z-index: 10;
  display: none;
  animation: fadeIn 0.3s ease;
  text-align: center;
}

/* Quando ativo */
.modal-erro.show {
  display: block;
}

.overlay-interno {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  z-index: 5;
  display: none;
}

.modal-erro {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--branco);
  border-radius: 8px;
  padding: 20px;
  width: 70%;
  max-width: 400px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.3);
  z-index: 10;
  display: none;
  animation: fadeIn 0.3s ease;
}

.modal-erro.show {
  display: block;
}

.overlay-interno.show {
  display: block;
}


.boxButtonErro button{
  color:var(--branco);
  border: none;
  background-color: var(--laranja);
  padding: 5px;
  margin: 8px;
  border-radius: 5px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  background: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
}
.close-btn:hover {
  color: var(--erro-vermelho);
}