.modal {
    position: relative;
    overflow-y: auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    z-index: 2;
    width: 80%;
    height: 80%;
  }
  .modal-container.show{
    opacity: 1;
    pointer-events: auto;
    display: flex;
}
.modal-container{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  justify-content: center;
  align-items: center;
}
.modal-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    left: 0;
    z-index: 1;
  }
.modal {
    position: fixed;
    overflow-y: auto;
    background: white;
    padding: 2rem;
    border-radius: 10px;
    z-index: 2;
    width: 60%;
    height: 80%;
  }
.modal .box{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.modal .box span{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
   font-weight: bolder;
   color: #c51c1c;
}
.modal .box .btn{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.tabela-professores td {
  max-width: 180px;     
  overflow: hidden;     
  white-space: nowrap;
  text-overflow: ellipsis; 
  vertical-align: middle;
}

#conteudo {
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#conteudo.mostrar {
    display: block;
    opacity: 1;
}
.semProfessores {
  text-align: center;
  margin-top: 40px;
  font-size: 1.2em;
  color: #555;
}

input{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

textarea{
    width: 600px;
    height: 200px;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

.boxButton button, .form-group button{
  color: white;
  border: none;
  background-image:linear-gradient(#ff6a34, #F27C35);
  padding: 15px;
  margin: 8px;
  border-radius: 3px;
}

button:hover{
  transform: scale(1.03);
}

input:focus{
  border-color: #ff6a34;
}

input:hover{
  border-color: #ff6a34;
}

.form-group{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
}

label{
   font-size: 1.0rem;
   margin: 5px 0;
}

.modal{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-row
{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.tittle-meta
{
    width: 65%;
}

.date-meta
{
    width: 30%;
}

input[type="datetime-local"]{
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
}