:root {
  --laranja: #ffb347;
  --laranja-claro: #ffe0b3;
  --azul: #5fa4e6;
  --azul-claro: #80c1ff;
  --verde: #6fcf97;
  --verde-claro: #c9f4df;

  --branco: #e5e7eb;
  --cinza: #cccccc;
  --cinza-escuro: #1f2937;

  /* Botões e alerts */
  --sucesso-verde: #22c55e;
  --erro-vermelho: #ef4444;
  --atencao-amarelo: #facc15;
  --info-azul: #3b82f6;
}

main {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 20px;
}

.titulo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  font-size: 2.5rem;

  img {
    width: 40px;
    height: auto;
  }
}

.aviso {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: var(--cinza-escuro);
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
  font-size: 1.2rem;
  width: 100%;

  span {
    font-weight: bold;
  }

  p {
    font-size: 1.3rem;
  }
}

.azul {
  background-color: #3b83f647;
  border: 3px solid var(--info-azul);
  color: var(--cinza-escuro);
}

.amarelo {
  background-color: #facc1547;
  border: 3px solid var(--atencao-amarelo);
}

.verde {
  background-color: #22c55e47;
  border: 3px solid var(--sucesso-verde);
  color: var(--cinza-escuro);
}

.container {
  display: flex;
  flex-direction: column;
  color: var(--branco);
  background-color: #1f2937d1;
  border: 3px solid #000;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;

  ol {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;

    li {
      font-size: 1.2rem;

      span {
        font-weight: bold;
      }
    }
  }
}

.configuracoes{
  width: fit-content;
  padding: 20px;
  align-self: center;
  margin-top: 20vh;
}

.button {
  button {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--branco);
    padding: 10px 15px;
    background-color: var(--sucesso-verde);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }

  button:hover {
    transform: scale(1.01);
  }
}

.container-cofiguracao {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.container-campo{
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.5rem;
}

/* toggle */
.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 28px;
  cursor: pointer;
}

.toggle input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: var(--erro-vermelho);
  border-radius: 50px;
  transition: 0.3s;
}

.slider::before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  top: 4px;
  background: var(--branco);
  border-radius: 50%;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background: var(--sucesso-verde);
}

.toggle input:checked + .slider::before {
  transform: translateX(28px);
}
/* toggle */

.tabela-config {
    width: 100%;
}

.col-esquerda {
    width: 23vw;
    padding: 10px;
    font-size: 1.5rem;
}

.col-direita {
    text-align: left;
}
