:root {
  --laranja: #f6b76a;
  --laranja-claro: #fce5c0;
  --azul: #78a8d1;
  --azul-claro: #d88ef6;
  --verde: #91c7a9;
  --verde-claro: #dcefe3;

  --branco: #f9fafb;
  --cinza: #e5e7eb;
  --cinza-escuro: #1f2937;

  /* Botões */
  --sucesso-verde: #22c55e;
  --erro-vermelho: #ef4444;
  --atencao-amarelo: #facc15;
  --info-azul: #3b82f6;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#cards-container{
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 50px;

  a{
    text-decoration: none;
    color: var(--cinza-escuro);
  }
}

.card{
  background-color: var(--cinza-escuro);
  color: var(--branco);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20vw;
  height: fit-content;
  gap: 40px;
  padding: 45px 0 45px 0;
  border: 4px solid var(--cinza-escuro);
  border-radius: 10px;
  cursor: pointer;
  transition: .2s;
  box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
  -webkit-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);
  -moz-box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.35);

  img{
    width: 100px;
    height: auto;
  }
  
  h3{
    font-size: 2rem;
  }
}

.card:hover{
  border: 4px solid var(--laranja);
  transform: scale(1.05);
}