 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');

   :root {
    --azul-vivo: #1e90ff;
    --laranja-vivo: #ff6a34;
    --vermelho-vivo: #ff3b30;
    --laranja-claro: #F27C35;
    --branco: #f3f3f3;
    --cinza: #ebebeb;
    --cinza-escuro: #4f4f4f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    padding: 0;
    margin: 0;
    gap: 80px;
}

 img{
        width: 80px;
        height: 80px;
        filter: invert(100%);
    }


.barra-lateral {
  width: 7.5%;
  height: 100vh;
  gap: 50px;
  padding: 50px 0;
  background: #ffb74d;
  box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.barra-lateral ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

.barra-lateral ul li {
  font-size: 30px;
  color: #fff;
  opacity: 0.9;
  cursor: pointer;
  transition: 0.3s;
}

.barra-lateral ul li:hover {
  transform: scale(1.2);
  opacity: 1;
}
  

    main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    }

    .bem-vindo{
        margin-bottom: 60px;
        text-align: center;
    }

    .bem-vindo h1,h2{
        margin: 20px;
        font-family: 'Poppins', sans-serif;
    }

    h1{
        font-size:2.5rem;
    }

    h2{
        font-size: 1.3rem;
       
    }

     h3{
        font-size: 1.0rem;
        font-weight: 500;
    }

    .options-container{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        width: 100%;
        height: auto;
    }

    .metas{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 80%;
        margin: 0 4%;
        padding: 30px;
        background-color: #fff;
        border-radius: 15px;
        box-shadow: 1px 3px 10px grey;
        transition: all 0.3s ease;
    }

    
    .metas:hover{
        transform: scale(1.05);
        box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
        cursor: pointer;
    }

    .option{
        display: flex;
        flex-direction: column;
        text-align: center;
        height: 100%;
        width: 60%;
        margin: 5px;
        color: #000;
        flex: 1 1 calc(33% - 50px); /* ocupando 1/3 da linha - gap do .options-container */;
        font-family: 'Poppins', sans-serif;
    }


    button, .clique{
        width: 60%;
        padding: 7px;
        margin: 2%;
        font-size: 1.0rem;
        color: var(--branco);
        background-image: -webkit-linear-gradient(var(--laranja-claro), #ffb74d);
        text-decoration: none;
        border:#ff3b30;
        border-radius: 5px;
        transition: all 0.3s ease;
    }

    button:hover{
        transform: scale(1.05);
        border:  2px solid var(--laranja-vivo);
    }


