:root {
    --azul-vivo: #1e90ff;
    --laranja-vivo: #ff6a34;
    --vermelho-vivo: #ff3b30;
    --branco: #f3f3f3;
    --cinza: #ebebeb;
    --cinza-escuro: #4f4f4f;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter;
}

body{
    display: flex;
    flex-direction: row;
}

aside, main{
    height: 100vh;
}

aside{
    width: 15vw;
    background-color: #A9A9A9;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0 40px 0;
    gap: 40px;
    background-image: linear-gradient(var(--laranja-vivo), var(--laranja-claro));

    img{
        width: 130px;
        height: 130px;
        filter: invert(100%);
    }

    nav{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }

    a{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0px 10px 20px;
        text-decoration: none;
        font-size: 1.5rem;
        background-color: transparent;
        border-radius: 10px;
        width: 70%;
        color: var(--laranja-vivo);
        font-weight: bold;
        transition: .3s;
    }

    a:hover{
        transform: scale(1.05);
        border:  2px solid var(--laranja-vivo);
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;

    h1{
        font-size: 4rem;
    }

    h2{
        font-size: 3rem;
    }

    .options-container{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px; 
        width: 50%;
    }

    .option{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid black;
        border-radius: 10px;
        padding: 45px 95px;
        font-size: 2rem;
        color: #000;
        flex: 1 1 calc(33% - 50px); /* ocupando 1/3 da linha - gap do .options-container */;
        text-decoration: none;
        transition: .3s;
    }

    .option:hover{
        transform: scale(1.05);
        border:  2px solid var(--laranja-vivo);
    }
}